body {
  color: #333;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #eee; 
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  margin: 1rem 0 1rem 0;
  padding: 1.5rem;
  text-align: center;
  color:  rgb(0, 183, 255);
}
h1 {
  font-size: 2.2rem;
  font-weight: 100;
}
header a {
  text-decoration: none;
  color: rgb(3, 112, 155);
  margin-right: 1.5rem;
}

/* =================================== */
footer {
  background-color: rgba(3, 51, 47, 0.918);
  color: #eee;
  border-radius: 1rem;
  border-top: 3px solid white;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-items: center;
}

ul {
  display: flex;
  margin: 2rem auto;
}
li { 
  list-style: none;
}

img {
  width: 250px;
  display: block;
  margin: 2rem auto;
  padding: 1rem;
}


input {
  border: 1px solid #ccc;
  padding: .5rem;
  margin-right: 2rem;
  display: inline-block;
  border-radius: 4px;
}

button {
  cursor: pointer;
  padding: .4rem 1rem;
  background-color: #333;
  color: #ccc;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 100;
  display: inline-block;
  
}